@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body{
	background-color: black;
	position: relative;
	color: white;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

body::before{
	content: "";
	background-image: url(PurpleWindow.jpg);
	background-size: 100% 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.;
}
#container{
	position: relative;
}
#logo-container{
	letter-spacing: 7px;
	display: inline-block;
	margin-top: 1.1vh;/*.75%;*/
	margin-left: 1.6%;
	padding: 0 0 0 3px;
	/*font-size: 105%;*/
	color: #DB3EB1;
}

#navbar{
	z-index: 1;
	position: fixed;
	background-color: #261334;
	width: 100%;
	height: 6%;
}

#logo{
	display: inline;
	font-size: 1.3vh;
}
#nav-links{
	word-spacing: 200%;
	letter-spacing: .5px;
	display: inline;
	float: right;
	font-family: 'Lato', sans-serif;
	margin-top: 1.9vh;/*.86%;*/
	margin-right: 1.6%;
	font-size: 1.3vh;/*110%;*/
	font-weight: bold;
}

#about-link{
	text-decoration: none;
	color: white;
}

#about-link:hover{
	color: #4D4DFF;
	transition-duration: .35s;

}

#work-link{
	text-decoration: none;
	color: white;
}

#work-link:hover{
	color: #4D4DFF;
	transition-duration: .35s;

}
/*#pricing-link:hover{
	color: #4D4DFF;
	transition-duration: .35s;

}*/

#contact-link{
	text-decoration: none;
	color: white;
}

#contact-link:hover{
	color: #4D4DFF;
	transition-duration: .35s;

}

#welcome-section{
	display: inline-block;
	padding-top: 2vh;/*7.5%;*/
	text-align: center;
}
#welcome-line{
	position: relative;
	display: inline-block;
	font-size: 7vh;/*550%;*/
	margin-bottom: 0;
	font-weight: 400;
	padding-top: 5%;
	color: #DB3EB1;
	padding-bottom: 8%;
}
#kevguru-media-line{
	display: inline-block;
	font-size: 7vh;/*550%;*/
	margin-bottom: 0;
	font-weight: 700;
	margin-top: 0;
	color: #4D4DFF;
	padding-top: 5%;
	padding-bottom: 3%;
}

#selfie{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 10%;
	border: blue solid 3px;
	opacity: .85;
}

#smiley{
	display: inline;
	width: 90px;
	height: 90px;
	position: absolute;
	margin-left: 46%;
	transform: rotate(20deg);
	opacity: .9;
}

#palmtree{
	display: inline;
	width: 70px;
	height: 70px;
	position: absolute;
	transform: rotate(0deg);
	margin: -25%;
	margin-top: 21.5%;
	transform: rotate(-30deg);
	opacity: .9;
}

#welcome-para{
	margin-left: 10%;
	margin-right: 10%;
	font-size: 3vh;/*170%;*/
	font-weight: 300;
	margin-top: 4%;
	line-height: 160%;
	margin-bottom: 5%;
}
hr{
	background-color: blue;
	height: 1px;
	border: none;
	width: 90%;
	margin-top: 5%;
}

#work-section{
	text-align: center;
}


#work-line{
	margin-top: 7%;
	font-size: 250%;
	font-weight: 700;
	color: #DB3EB1;
}

.project-tile{
	display: inline-grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	border: blue solid;
	margin: 3%;
	background-color: blue;
}

.project-tile:hover{
	opacity: .5;
	transition-duration: .35s;
}

.project-image{
	display: inline-block;
	width: 300px;
	height: 300px;
}














#contact-section{
	margin-top: 10vh;/*10%;*/
	text-align: center;
}
#contact-line{
	text-align: center;
	font-size: 250%;
	font-weight: 700;
	color: #DB3EB1;
}
#contact-info{
	text-align: center;
	line-height: 300%;
	font-size: 120%;
	letter-spacing: 3px;
}

#github-link{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-top: 6%;
}

footer{
	display: inline-block;
	width: 100%;
	margin-top: 9vh;
	font-weight: 300;
}
#footer-nav-links{
	display: inline;
	float: left;
	padding-top: 1.8%;
	word-spacing: 1%;
	padding-left: 1%;
	width: 30%;
}
#terms-of-use-link{
	padding-left: 3%;
}
#terms-of-use-link:hover{
	color: #696969;
}
#about-this-site-link{
	padding-left: 3%;
}
#about-this-site-link:hover{
	color: #696969;
}
#site-map-link{
	padding-left: 3%;
}
#site-map-link:hover{
	color: #696969;
}

#copyright{
	display: inline;
	float: right;
	padding-right: 1%;
	color: #656565;
	padding-top: .6%;
}